@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

/* GRID LAYOUT */

  .container {  display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    grid-template-rows: 1fr max-content;
    gap: 0px 0px; 
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar verse-display preview-box"
      "sidebar controls controls";
  }
  
  .controls { grid-area: controls; }
  
  .sidebar { grid-area: sidebar; }
  
  .preview-box { grid-area: preview-box; }
  
  #verse-display { grid-area: verse-display; }
    
/* MAIN WINDOW STYLING */

#main {
    font-family: sans-serif;

}

#verse-display {
  overflow-y: scroll;
}

/* .tooltip {
  transition: opacity 0.3s;
  opacity: 0;
  visibility: hidden;
} */

.tooltip-delay {
  transition-delay: 5s; /* Adjust the delay as needed */
}

.group:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* PROJECTOR STYLING */

#projection {
    background-color: #000000;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
}